
.header{
    padding: 2%;
    background-color: aqua;
}

.link{
    margin:0.2%;
}

.link:hover{
background-color:rgba(42, 43, 83, 0.774) ;
border-radius: 2px;
color: white;
}

a.on-visit{
    background-color:rgba(42, 43, 83, 0.774) ;
    border-radius: 2px;
    color: white;
}